{
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "rules": {
    "valid-jsdoc": 2,
    "semi": ["warn", "always"],
    "quotes": ["warn", "single", "avoid-escape"]
  }
}
